// ZMK includes
// My own includes 

#include "da-combos.dtsi"
#include "da-macros.dtsi"
#include "da-behaviors.dtsi"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Shortcuts

#define HYPER LC(LS(LA(LGUI)))

// Soft-off: only turn off it the key is held for 3 seconds or longer.

&soft_off { hold-time-ms = ; };

/ {
    combos {
        compatible = "zmk,combos";

        dsd {
            bindings = <&gresc>;
            key-positions = <17 14>;
        };
    };

    behaviors {
        tp: tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_PREFERRED";
            bindings = <&kp>, <&kp>;

            #binding-cells = ;
            tapping-term-ms = ;
            quick-tap-ms = ;
            flavor = "tap-preferred";
        };
    };

    macros {
        // Character à
        a_gr: a_gr {
            label = "a_gr";
            compatible = "zmk,behavior-macro";
            #binding-cells = ;
            bindings = <&macro_press &kp RALT>
                     , <&macro_tap &kp GRAVE>
                     , <&macro_release &kp RALT>
                     , <&macro_tap &kp A>;
        };

        // Character è
        e_gr: e_gr {
            label = "e_gr";
            compatible = "zmk,behavior-macro";
            #binding-cells = ;
            bindings = <&macro_press &kp RALT>
                     , <&macro_tap &kp GRAVE>
                     , <&macro_release &kp RALT>
                     , <&macro_tap &kp E>;
        };

        // Character ì
        i_gr: i_gr {
            label = "i_gr";
            compatible = "zmk,behavior-macro";
            #binding-cells = ;
            bindings = <&macro_press &kp RALT>
                     , <&macro_tap &kp GRAVE>
                     , <&macro_release &kp RALT>
                     , <&macro_tap &kp I>;
        };

        // Character ò
        o_gr: o_gr {
            label = "o_gr";
            compatible = "zmk,behavior-macro";
            #binding-cells = ;
            bindings = <&macro_press &kp RALT>
                     , <&macro_tap &kp GRAVE>
                     , <&macro_release &kp RALT>
                     , <&macro_tap &kp O>;
        };

        // Character ù
        u_gr: u_gr {
            label = "u_gr";
            compatible = "zmk,behavior-macro";
            #binding-cells = ;
            bindings = <&macro_press &kp RALT>
                     , <&macro_tap &kp GRAVE>
                     , <&macro_release &kp RALT>
                     , <&macro_tap &kp U>;
        };

        // Character é 
        e_ac: e_ac {
            label = "e_ac";
            compatible = "zmk,behavior-macro";
            #binding-cells = ;
            bindings = <&macro_press &kp RALT>
                     , <&macro_tap &kp E>
                     , <&macro_release &kp RALT>
                     , <&macro_tap &kp E>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp TAB     &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P      &kp BSPC
                &tp LCTRL ESC &kp A      &kp S      &kp D      &kp F      &kp G          &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp SQT
                &kp LSHFT   &kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp RSHFT
                                          &kp LGUI   &mo 1     &tp LALT RET &kp SPACE   &mo 2     &kp RET
            >;
        };

        lower_layer {
            bindings = <
                &kp BSLH   &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT       &kp CARET  &kp AMPS   &kp KP_MULTIPLY &kp LPAR   &kp RPAR   &trans
                &kp F3     &kp N1     &kp N2     &kp N3     &kp N4     &kp N5          &kp MINUS  &kp PLUS   &kp GRAVE      &kp LBKT   &kp RBKT   &kp PIPE
                &trans    &kp N6     &kp N7     &kp N8     &kp N9     &kp N0          &kp UNDER  &kp EQUAL  &kp TILDE      &kp LBRC   &kp RBRC   &trans
                                          &trans    &none     &trans      &trans      &none     &trans
            >;
        };

        upper_layer {
            bindings = <
                &none     &kp C_BRI_DN &kp C_BRI_UP &e_gr    &e_ac    &soft_off     &soft_off  &u_gr    &i_gr    &o_gr    &kp C_VOL_UP &kp DELETE
                &kp F1     &a_gr    &kp F2     &kp F3     &kp F4     &kp F5          &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp C_VOL_DN &bt BT_CLR
                &trans    &kp F6     &kp F7     &kp F8     &kp F9     &kp F10         &kp C_PP   &kp C_PREV &kp C_NEXT &trans    &kp C_MUTE   &bt BT_NXT
                                          &trans    &trans    &trans      &trans      &trans    &trans
            >;
        };
    };
};